.wetruck h1:before{background-position: 0 0;}
.tdp14 h1:before{background-position: -50px 0;}
.tdp13 h1:before{background-position: 0 -50px;}
.tdp12 h1:before{background-position: -50px -50px;}
.sudweb h1:before{background-position: -100px 0;}
.spread h1:before{background-position: -100px -50px;}
.sgroud h1:before{background-position: 0 -100px;}
.sartory h1:before{background-position: -50px -100px;}
.rouensurmer h1:before{background-position: -100px -100px;}
.rouen h1:before{background-position: -150px 0;}
.rouen-impressionnee h1:before{background-position: -150px -50px;}
.pnee h1:before{background-position: -150px -100px;}
.outremer h1:before{background-position: 0 -150px;}
.nwx h1:before{background-position: -50px -150px;}
.nomad h1:before{background-position: -100px -150px;}
.msi h1:before{background-position: -150px -150px;}
.msa h1:before{background-position: -200px 0;}
.merezo h1:before{background-position: -200px -50px;}
.memurb h1:before{background-position: -200px -100px;}
.mao h1:before{background-position: -200px -150px;}
.kstudio h1:before{background-position: 0 -200px;}
.keynit h1:before{background-position: -50px -200px;}
.jmm h1:before{background-position: -100px -200px;}
.ihp h1:before{background-position: -150px -200px;}
.horreur h1:before{background-position: -200px -200px;}
.historia h1:before{background-position: -250px 0;}
.frb h1:before{background-position: -250px -50px;}
.forum-digital h1:before{background-position: -250px -100px;}
.fendzy h1:before{background-position: -250px -150px;}
.econocom h1:before{background-position: -250px -200px;}
.dowego h1:before{background-position: 0 -250px;}
.code-igniter h1:before{background-position: -50px -250px;}
.cnp h1:before{background-position: -100px -250px;}
.ciamt h1:before{background-position: -150px -250px;}
.big h1:before{background-position: -200px -250px;}
.autrecercle h1:before{background-position: -250px -250px;}
.aen h1:before{background-position: -300px 0;}
