/* glue: 0.9.4 hash: a252629281 */
        .sprite-icons-wetruck,
.sprite-icons-tdp14,
.sprite-icons-tdp13,
.sprite-icons-tdp12,
.sprite-icons-sudweb,
.sprite-icons-spread,
.sprite-icons-sgroud,
.sprite-icons-sartory,
.sprite-icons-rouensurmer,
.sprite-icons-rouen,
.sprite-icons-rouen-impressionnee,
.sprite-icons-pnee,
.sprite-icons-outremer,
.sprite-icons-nwx,
.sprite-icons-nomad,
.sprite-icons-msi,
.sprite-icons-msa,
.sprite-icons-merezo,
.sprite-icons-memurb,
.sprite-icons-mao,
.sprite-icons-kstudio,
.sprite-icons-keynit,
.sprite-icons-jmm,
.sprite-icons-ihp,
.sprite-icons-horreur,
.sprite-icons-historia,
.sprite-icons-frb,
.sprite-icons-forum-digital,
.sprite-icons-fendzy,
.sprite-icons-econocom,
.sprite-icons-dowego,
.sprite-icons-code-igniter,
.sprite-icons-cnp,
.sprite-icons-ciamt,
.sprite-icons-big,
.sprite-icons-autrecercle,
.sprite-icons-aen {
            background-image: url('icons.png');
            background-repeat: no-repeat;
        }
        
        .sprite-icons-wetruck {
            background-position: 0 0;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-tdp14 {
            background-position: -50px 0;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-tdp13 {
            background-position: 0 -50px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-tdp12 {
            background-position: -50px -50px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-sudweb {
            background-position: -100px 0;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-spread {
            background-position: -100px -50px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-sgroud {
            background-position: 0 -100px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-sartory {
            background-position: -50px -100px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-rouensurmer {
            background-position: -100px -100px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-rouen {
            background-position: -150px 0;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-rouen-impressionnee {
            background-position: -150px -50px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-pnee {
            background-position: -150px -100px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-outremer {
            background-position: 0 -150px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-nwx {
            background-position: -50px -150px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-nomad {
            background-position: -100px -150px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-msi {
            background-position: -150px -150px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-msa {
            background-position: -200px 0;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-merezo {
            background-position: -200px -50px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-memurb {
            background-position: -200px -100px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-mao {
            background-position: -200px -150px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-kstudio {
            background-position: 0 -200px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-keynit {
            background-position: -50px -200px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-jmm {
            background-position: -100px -200px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-ihp {
            background-position: -150px -200px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-horreur {
            background-position: -200px -200px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-historia {
            background-position: -250px 0;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-frb {
            background-position: -250px -50px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-forum-digital {
            background-position: -250px -100px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-fendzy {
            background-position: -250px -150px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-econocom {
            background-position: -250px -200px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-dowego {
            background-position: 0 -250px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-code-igniter {
            background-position: -50px -250px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-cnp {
            background-position: -100px -250px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-ciamt {
            background-position: -150px -250px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-big {
            background-position: -200px -250px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-autrecercle {
            background-position: -250px -250px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-icons-aen {
            background-position: -300px 0;
            width: 50px;
            height: 50px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-icons-wetruck,
    .sprite-icons-tdp14,
    .sprite-icons-tdp13,
    .sprite-icons-tdp12,
    .sprite-icons-sudweb,
    .sprite-icons-spread,
    .sprite-icons-sgroud,
    .sprite-icons-sartory,
    .sprite-icons-rouensurmer,
    .sprite-icons-rouen,
    .sprite-icons-rouen-impressionnee,
    .sprite-icons-pnee,
    .sprite-icons-outremer,
    .sprite-icons-nwx,
    .sprite-icons-nomad,
    .sprite-icons-msi,
    .sprite-icons-msa,
    .sprite-icons-merezo,
    .sprite-icons-memurb,
    .sprite-icons-mao,
    .sprite-icons-kstudio,
    .sprite-icons-keynit,
    .sprite-icons-jmm,
    .sprite-icons-ihp,
    .sprite-icons-horreur,
    .sprite-icons-historia,
    .sprite-icons-frb,
    .sprite-icons-forum-digital,
    .sprite-icons-fendzy,
    .sprite-icons-econocom,
    .sprite-icons-dowego,
    .sprite-icons-code-igniter,
    .sprite-icons-cnp,
    .sprite-icons-ciamt,
    .sprite-icons-big,
    .sprite-icons-autrecercle,
    .sprite-icons-aen {
                background-image: url('icons.png');
                -webkit-background-size: 350px 300px;
                -moz-background-size: 350px 300px;
                background-size: 350px 300px;
            }
        }
        