/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License:none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}
body {
  line-height:1;
}
ol, ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}

/* Variables */

:root {
  --color-main: #069;
  --color-main-light: #17a;
  --color-main-dark: #058;
  --color-main-darker: #047;
}

/* Font */

@font-face {
  font-family: 'kimberley';
  src: url('fonts/kimberley-webfont.woff2') format('woff2'),
       url('fonts/kimberley-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Elements */

body {
  max-width: 44rem;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #fff;
  background: linear-gradient(135deg, #fff, #eee 50%, #ddd 75%);
  background-attachment: fixed;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Georgia, serif;
  color: #000;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

@media (min-width: 600px) {
  body {
    font-size: 1.3125rem;
  }
}

/* Blocks */

p {
  margin: 0 0 1rem 0;
}

/* Lists */

ul {
  margin: 0 0 1rem 0;
}

li {
  margin: 0.5rem 0;
}

li::before {
  content:'★';
  margin: 0 1rem 0 0;
}

/* Links */

a {
  color: var(--color-main);
  text-decoration: underline;
}

a:focus,
a:hover {
  text-decoration: none;
}

/* Inlines */

strong {
  color: #222;
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Header */

header {
  margin: 1rem 0 2rem 0;
  text-align: center;
}

h1 {
  font-family: kimberley, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 2px;
}

h1 img {
  width: 50px;
  height: auto;
}

h1 span {
  color: var(--color-main);
}

header ul,
header li {
  margin: 0;
}

header ul {
  margin-top: 1rem;
}

header li {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

header li::before {
  display: none;
}

header li:focus,
header li:hover {
  background-color: #e9e9e9;
}

header a {
  color: #000;
  text-decoration: none;
}

header a:focus,
header a:hover {
  text-decoration: underline;
}

@media (min-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 680px) {
  header {
    margin: 2rem 0 4rem 0;
  }

  h1 {
    font-size: 4rem;
  }

  h1 img {
    width: auto;
  }
}

/* Section */

h2 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: bold;
  font-style: italic;
  color: var(--color-main);
  text-shadow: none;
}

h2:focus,
h2:hover {
  color: var(--color-main);
}

@media (min-width: 800px) {
  h2 {
    margin: 4rem 0 2rem -4rem;
    font-size: 4rem;
    color: #777;
    background-image: url("/images/perlin.png");
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: color 2s;
  }
}

/* Article */

article {
  padding: 2rem 2rem 1rem 2rem;
  background: linear-gradient(transparent);
  border-radius: 0.5rem;
  transition: background 2s;
}

article:focus,
article:hover {
  background: linear-gradient(135deg, #fff, transparent 20%, transparent 80%, #ddd 100%);
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: bold;
  font-style: italic;
  color: #000;
}

h3 a {
  color:#000;
  text-decoration: none;
}

h3 a:focus,
h3 a:hover {
  text-decoration: underline;
}

/* Footer */

footer {
  margin-top: 6rem;
  color: #444;
}

/* Classes */

.date,
.desc {
  color: #444;
  font-style: italic;
}

.date a,
.desc a {
  color: #444;
}

.button {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background: var(--color-main);
  background: linear-gradient(var(--color-main-light), var(--color-main));
  border: 1px solid var(--color-main-dark);
  border-radius: 0.25rem;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--color-main-dark);
}

.button:focus,
.button:hover {
  background: var(--color-main-dark);
  background: linear-gradient(var(--color-main), var(--color-main-dark));
  border: 1px solid var(--color-main-darker);
  text-shadow: 1px 1px 0 var(--color-main-darker);
}

.unicode {
  display: inline-block;
  margin-right: 0.5rem;
}

/* Plus */

#experiences-plus {
  display: none;
}

#experiences-plus:target {
  display: block;
}
