/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License:none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}
body {
  line-height:1;
}
ol, ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}

/* Here we go */

@font-face {
  font-family:'kimberley';
  src:url('fonts/kimberley-webfont.eot');
  src:url('fonts/kimberley-webfont.eot?iefix') format('eot'),
       url('fonts/kimberley-webfont.woff') format('woff'),
       url('fonts/kimberley-webfont.ttf')  format('truetype');
  font-weight:normal;
  font-style:normal;
}

body{
  background:#fff;
  font-size:1em;
  line-height:1.5;
  font-family:Georgia, serif;
  color:#000;
}
h1{
  font-weight:bold;
  font-style:italic;
}
h1 a{
  color:#000;
}
p{
  margin:0 0 1em 0;
}
ul{
  margin:0 0 1em 0;
}
li{
  margin:.5em 0;
}
li:before{
  content:'★';
  font-size:90%;
  margin:0 1em 0 0;
}
a{
  color:#c40;
  text-decoration:none;
}
a:focus,
a:hover{
  text-decoration:underline;
}
strong{
  color:#222;
  font-weight:bold;
}

header,
section,
footer{
  max-width:36em;
  margin:0 auto 3em auto;
  padding:0 .5em;
}
header{
  margin-top:3em;
}

header h1{
  font-family:kimberley, sans-serif;
  text-transform:uppercase;
  font-style:italic;
  font-weight:normal;
  font-size:3.5em;
  line-height:0.9;
  letter-spacing:2px;
}
header h1 span{
  color:#c40;
}
section > h1{
  margin:0 0 .5em 0;
  font-size:2.2em;
  color:#c40;
}

article{
  margin:0 0 3em 0;
}
article h1{
  font-size:1.6em;
  color:#000;
}
article p.date{
  color:#444;
  font-style: italic;
}

footer{
  margin-top:6em;
  color:#444;
}

/* rwd */

@media screen and (min-width:600px){

  article h1:before{
    content:'';
    display:block;
    width:50px;
    height:50px;
    float:left;
    margin:.5em 0 0 -2.5em;
    background:#fff url(images/icons.png) no-repeat top left;
  }
  article.nologo h1:before{
    background:none;
  }
  /* Sprite
   * http://glue.readthedocs.org/en/latest/
   * glue-sprite dossier-input dossier-output
   */
  .wetruck h1:before{background-position: 0 0;}
  .tdp14 h1:before{background-position: -50px 0;}
  .tdp13 h1:before{background-position: 0 -50px;}
  .tdp12 h1:before{background-position: -50px -50px;}
  .sudweb h1:before{background-position: -100px 0;}
  .spread h1:before{background-position: -100px -50px;}
  .sgroud h1:before{background-position: 0 -100px;}
  .sartory h1:before{background-position: -50px -100px;}
  .rouensurmer h1:before{background-position: -100px -100px;}
  .rouen h1:before{background-position: -150px 0;}
  .rouen-impressionnee h1:before{background-position: -150px -50px;}
  .pnee h1:before{background-position: -150px -100px;}
  .outremer h1:before{background-position: 0 -150px;}
  .nwx h1:before{background-position: -50px -150px;}
  .nomad h1:before{background-position: -100px -150px;}
  .msi h1:before{background-position: -150px -150px;}
  .msa h1:before{background-position: -200px 0;}
  .merezo h1:before{background-position: -200px -50px;}
  .memurb h1:before{background-position: -200px -100px;}
  .mao h1:before{background-position: -200px -150px;}
  .kstudio h1:before{background-position: 0 -200px;}
  .keynit h1:before{background-position: -50px -200px;}
  .jmm h1:before{background-position: -100px -200px;}
  .ihp h1:before{background-position: -150px -200px;}
  .horreur h1:before{background-position: -200px -200px;}
  .historia h1:before{background-position: -250px 0;}
  .frb h1:before{background-position: -250px -50px;}
  .forum-digital h1:before{background-position: -250px -100px;}
  .fendzy h1:before{background-position: -250px -150px;}
  .econocom h1:before{background-position: -250px -200px;}
  .dowego h1:before{background-position: 0 -250px;}
  .code-igniter h1:before{background-position: -50px -250px;}
  .cnp h1:before{background-position: -100px -250px;}
  .ciamt h1:before{background-position: -150px -250px;}
  .big h1:before{background-position: -200px -250px;}
  .autrecercle h1:before{background-position: -250px -250px;}
  .aen h1:before{background-position: -300px 0;}
}

@media screen and (max-width:480px){

  header h1{
    font-size:2.5em;
    line-height:1.5;
  }

}
